{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Policy</title>
    <link rel="stylesheet" href="{% static 'insurance/add_policy.css' %}">
</head>
<body style="background: url('{{ s3_image_url }}') no-repeat center center fixed; background-size: cover;">
    <h1>Add New Policy</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Policy Name:</label>
        <input type="text" name="name" required><br>

        <label for="description">Description:</label>
        <textarea name="description" required></textarea><br>

        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" required><br>

        <!-- <label for="default">Mark as Default:</label>
        <input type="checkbox" name="default"><br> -->

        <!-- <label for="image">Policy Image:</label>
        <input type="file" name="image"><br> -->

        <button type="submit">Add Policy</button>
    </form>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
